Telegram-Gmail-AI-Working (2).json
{
  "name": "Telegram-Gmail-AI-Working",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1280,
        384
      ],
      "id": "4c625536-b6c0-47e3-81a1-0457265e32ac",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "C30rR5Sw6Bqqhoz9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "eb645ff9-928e-4238-b44f-ade368c8034b",
      "name": "Merge Messages",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "responseTimeoutMinutes",
              "value": 5,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "maxConversationTurns",
              "value": 10,
              "type": "number"
            },
            {
              "id": "35c21ece-3a10-4378-9449-c33f4b11427e",
              "name": "message",
              "value": "={{$json[\"message\"][\"text\"] ?? $json[\"body\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b06cb474-cbdc-46db-93de-ac8ee4ceefca",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Lead Collection Bot.\n\nYour tasks:\n\n1) Collect details in this order:\n   1. Name\n   2. Contact Number\n   3. Service Required\n   4. Budget\n   5. Timeline\n\n2) After collecting all details, generate a **properly formatted summary in normal text**:\n   - Do NOT use JSON.\n   - Do NOT use code blocks.\n   - Write the summary as clean, readable text.\n   - Use line breaks and labels for clear formatting.\n   - It should look professional.\n\nConversation Rules:\n- Ask ONE question at a time.\n- After every answer, say: “Noted!” and ask the next question.\n- Validate the contact number (must be digits, 10+ characters). If invalid, ask again.\n- Store all answers internally and only reveal them in the final summary.\n\nFinal Summary Format:\nWrite the summary like this (example style):\n\nName: _____\nContact Number: _____\nService Required: _____\nBudget: _____\nTimeline: _____\n\nNo bullet points, no JSON — just clean text with labels.\n\n"
        }
      },
      "id": "3c7688d9-d5ab-4029-bb35-202cd43ae37b",
      "name": "Intent Analysis & Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1920,
        416
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "id": "f67d2ce5-201e-463c-9f4c-f7ea6374db41",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2080,
        800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"from\"][\"email\"]}}\n",
        "subject": "=Re: {{$json[\"subject\"]}}\n",
        "message": "={{$json[\"response\"]}}\n",
        "options": {}
      },
      "id": "8a7d9cb4-40bd-4068-9c88-3a30b512db99",
      "name": "Gmail Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2304,
        784
      ],
      "webhookId": "b9fbfa8c-4251-45c6-8544-1a2c01002461",
      "credentials": {
        "gmailOAuth2": {
          "id": "C30rR5Sw6Bqqhoz9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "8bb5fbe2-359a-4a69-a49f-691891c17e06",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1264,
        656
      ],
      "webhookId": "d63ccaae-8e16-4ce2-8e40-f11613ffcf1e",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "AAGphdTx4HaYsu8z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        800
      ],
      "id": "458ac387-253f-4a78-b328-1b05c01dea37",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WGsJVPewem5qNumR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('Intent Analysis & Response Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        368
      ],
      "id": "760b3a32-49e9-4dfe-be0f-6abb1405c0f7",
      "name": "Send a text message1",
      "webhookId": "1bfd932e-860e-4898-9dc2-5151db8d3b2d",
      "credentials": {
        "telegramApi": {
          "id": "AAGphdTx4HaYsu8z",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Merge Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Messages": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Intent Analysis & Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Intent Analysis & Response Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "Intent Analysis & Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Analysis & Response Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Analysis & Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a chat": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e54ebe4-df12-44e1-a11b-5cff015384a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c14a0d41ae64c62ac4367642f62c451817f00d144190739d33e7a680be14881"
  },
  "id": "w6tZCHWAFqnJxhvV",
  "tags": []
}